.form-check {
    position: relative;
  }
  .form-check .form-check-label {
    min-height: 18px;
    display: block;
    margin-left: 0.75rem;
    font-size: 0.875rem;
  }
  
  .form-check .form-check-label input {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 0;
    margin-top: 0;
    z-index: 1;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  .form-check .form-check-label input[type="checkbox"] + .input-helper:after {
    -webkit-transition: all;
    -moz-transition: all;
    -ms-transition: all;
    -o-transition: all;
    transition: all;
    transition-duration: 0s;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
    font-family: Material Design Icons;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    content: "\F12C";
    font-size: 0.9375rem;
    font-weight: bold;
    color: #ffffff;
  }
  .form-check .form-check-label input[type="checkbox"] + .input-helper:before,
  .form-check .form-check-label input[type="checkbox"] + .input-helper:after {
    position: absolute;
    top: 0;
    left: 0;
  }
  .form-check
    .form-check-label
    input[type="checkbox"]:checked
    + .input-helper:before {
    background: #405189;
    border-width: 0;
  }
  .form-check .form-check-label input[type="checkbox"] + .input-helper:before {
    content: "";
    width: 18px;
    height: 18px;
    border-radius: 2px;
    border: solid #405189;
    border-width: 2px;
    -webkit-transition: all;
    -moz-transition: all;
    -ms-transition: all;
    -o-transition: all;
    transition: all;
    transition-duration: 0s;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
  }
  .remove {
    margin-left: auto !important;
  }
  .mdi:before {
    font-family: "flaticon";
    content: "\f13e";
    display: inline-block;
    vertical-align: middle;
    font-size: 0.75em;
    color: #405189;
  }

  .disabled {
    pointer-events:none;
    opacity:0.6;
  }